RewriteEngine on
# Redirect https://blog.zackbatist.info/2024/10/01/new-paper-informal-communication-and-archaeological-data-work/ https://zackbatist.info/posts/2024-10-01-informal-communication-and-archaeological-data-work/


# remove html (to avoid duplicate content)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# rewrite html only if file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^.]+)/?$ $1.html [L]

RewriteRule ^cv$ /cv.pdf [L]